{% extends "blog/base.html" %}

{% block title %} CCCU Blog {% endblock %}

{% block content %}
<h2> Welcome to the blog</h2>

<div class="card shadow p-4 rounded-2">
<table class="table table-striped table-bordered table-hover">
    <caption class="text-muted"> Recent Posts</caption>

    <thead class="table-light">
        <tr>
            <th scope="col"> Title</th>
            <th scope="col"> Description</th>
            <th scope="col"> Image</th>
        </tr>
    </thead>

    <tbody>
        {% for post in posts %}
        <tr>
            <td> {{ post.title }} </td>
            <td> {{ post.description }} </td>
            <td> 
                {% if post.image %} 
                <img src="{{ post.image.url }}" style="max-width: 150px; height: auto;">
                {% else %}
                <span class="text-muted"> No image </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}